// все блоки будут той длитны и высоты, какую мы задаем

* {
  box-sizing: border-box;
}
body {
  background: #faebd0;
}
.copyright {
  display: block;
}
img {
  display: block;
  margin: 0 auto;
  width: 700px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.i {
  font-style: italic;
}
ul,
li {
  list-style: none;
  text-align: center;
}

.container {
  padding: 0 10%;
}
