$main-color: #99c701;
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            & {
                width: 220px;
            }
        }
        @media screen and (max-width: 540px) {
            width: 200px;
        }
    }
    &__official {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #fff;
        span {
            display: block;
            margin-top: 7px;
            font-weight: 500;
            font-size: 18px;
        }
        @media screen and (max-width: 540px) {
            display: none;
        }
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 18px;

        color: #fff;
        text-decoration: none;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
