@import url(fonts.css);
html {
    font-family: "Inter", serif;
}

:root{
    --light-color:#F5F5F7;
    --dark-color:#221F20;
    --container-padding-inline:13%;
    --footer-padding-inline:10%;

}
.gg{
    font-weight: 400;
    font-style: italic;
    color: var(--light-color);
}
.aaaa{
    font-weight: 400;
}